<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    <table style="width: 700px;">
        {% for i in Comentarios %}
        {% if i.respuesta == null %}

        <tr>
            <td colspan="3" style="border:solid;border-width: 1px;">

                usuario:{{ i.usuario }}<br>
                {{ i.comentario }} <br>

                <!------crea el boton para responder-->
                <form action="{% url 'prueba' %}#comentario" method="get">
                    <button value="{{ i.id }}" name="r">Responder</button>
                </form>


                <!------crea el boton para eliminar-->
                {% if i.usuario_id == Usuario %}
                    <form action="{% url 'elimcom' %}" method="POST">
                        {% csrf_token %}
                        <button value="{{ i.id }}" name="com">Eliminar</button>
                    </form>
                {% endif %}


            </td>
        </tr>

            {% for r in Comentarios %}

                <!------lista las respuestas-->
                {% if r.respuesta == i.id %}
                <tr>
                    <td colspan="3" style="padding-left: 50px;border:solid;border-width: 1px; border-color: blue;">
                    usuario:{{ r.usuario }}<br>{{ r.comentario }}

                    <!------crea el boton para eliminar-->
                    {% if r.usuario_id == Usuario %}
                        <form action="{% url 'elimcom' %}" method="POST">
                            {% csrf_token %}
                            <button value="{{ r.id }}" name="com">Eliminar</button>
                        </form>
                    {% endif %}


                    </td>
                </tr>
                {% endif %}
            {% endfor %}

            <!------input abajo para responder-->
            {% if i.id == idComentario %}

                <form action="{% url 'prueba' %}?r={{ i.id }}" method="post">
                {% csrf_token %}
                    <tr>
                        <td style="padding-left: 100px;border:solid;border-width: 1px; border-color: red;">
                            <input type="number" name="respuesta" value="{{ idComentario }}" readonly hidden>
                            <a id="comentario"><textarea name="comentario" cols="30" rows="1"></textarea></a>
                            <button>Comentar</button>
                        </td>
                    </tr>
                </form>

            {% endif %}
        
        {% endif %}
        {% endfor %}
    </table>


    <!------input abajo para comentar-->

    <table >
        <form action="{% url 'prueba' %}" method="post">
        {% csrf_token %}
        <tr>
            <td colspan="2"><a id="comentario"><textarea name="comentario" cols="30" rows="1"></textarea></a></td>
            <td colspan="2"><button>Comentar</button></td>
        </tr>
        </form>
    </table>


</body>
</html>